<div class="emp-div">                
  <table class="emp-table">
    <thead>
    <tr>
        <th>Employee ID</th>
        <th>Name</th>
        <th>Designation</th>
        <th>Salary</th>
        <th>Location</th>
        <th>Action</th>
    </tr>
    </thead>

    <tbody>
      <% @employees.each do |emp| %>
        <tr>
          <td><%= emp.emp_id %></td>
          <td><%= emp.emp_name %></td>
          <td><%= emp.dsg %></td>
          <td><%= emp.sal %></td>
          <td><%= emp.loc %></td>
          <% @empl=emp.emp_id%>
          <td><%= link_to 'Edit', edit_employee_path(emp.emp_id), class: "waves-effect waves-light btn"%>
          &nbsp; 
          <%= link_to 'Delete', delete_path(@empl), method: :delete, class: "waves-effect waves-light red btn"%></td>
        </tr>
      <% end %>  
    </tbody>
  </table>
</div>